h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans",Arial,sans-serif;
}

p, div {
	font-family: "Open Sans",Arial,sans-serif;
}

a {
	outline: none;
}

section {
	padding: 80px 0;
}

.orange-text {
	color: #d9534f;
}

a.orange-link,
a.inverse-link:hover,
a.inverse-link:active,
a.inverse-link:focus {
	color: #d9534f;
	text-decoration: none;
	outline: none;
}

p.team-member-intro {
	text-align: justify;
}

.clearfix:after {
	clear:both;
}

.lg-header {
	font-size: 48px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.paragraph-header {
	font-size: 18px;
}

.clickable {
	cursor: pointer;
	outline: none;
}

.gray-bg {
	background-color: #f4f4f4;
}

.blue-bg {
  background-color: #66ae33;
}

.opaque-white {
	color: rgba(255, 255, 255, 0.7);
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-15 {
	margin-top: 15px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-bottom-25, .form-group.margin-bottom-25 {
	margin-bottom: 25px;
}

.padding-top-10 {
	padding-top: 10px;
}

.padding-top-15 {
	padding-top: 15px;
}

.text_font {
}

.text_font_large {
	font-family: "Open Sans",Arial,sans-serif;
	text-decoration:none;
	color: black;
	font-size: 20px;
}

.text_font_small {
	font-family: "Open Sans",Arial,sans-serif;
	text-decoration:none;
	color: black;
	font-size: 12px;
}

.text_center {
	text-align:center;
}

.text_left {
	text-align:left;
}

.align_central {
	style="margin: 0 auto;"
}

div.center {
	text-align: center;
}

body {
	margin: 0;
	font-size: 12px;
	font-family: "Open Sans",Arial,sans-serif;
	color: black;
	text-decoration:none;
}

div.right_margin {
	text-align: right;
	margin: 1%;
}

div.left_margin {
	text-align: left;
}

a#id_join {
	text-decoration:none;
	font-size: 24px;
	text-align:center;
}

a.link_without_underline {
	text-decoration: none;
}

label.format {
	text-align:left;
	line-height: 100%;
	font-size:15px;
}

table {
	table-layout: fixed;
	width: 100%;
}

td {
	word-wrap:break-word;
}

.border-black {
	border:solid 1px;
	color:black;
}

.border-white {
	border-color: rgba(255, 255, 255, 0.6);
	border: 2px solid #cdcdcd;
	border-radius: 3px;
}

input.border-white:focus, input.border-white:hover {
	border-color: white;
	border: 2px solid #cdcdcd;
	border-radius: 3px;
	box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

.btn {
	-webkit-font-smoothing: antialiased;
}

@media (max-width: 480px) {
	.lg-header {
		font-size: 36px;
	}
	.hidden-xxs {
		display: none;
	}
}

@media (min-width: 480px) {
	i.show-xxs {
		display: none;
	}
}
/* nav section */
section.header {
	padding: 0;
}

.header .container {
	position: relative;
}

.nav {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: transparent;
	width: 100%;
}

.nav-inverse {
	float: left;
	padding-bottom: 0;
}

.nav a {
	color: #66aecc;
	text-decoration: none;

	/* CSS Transition */
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.nav a:hover,
.nav a:active,
.nav a:focus {
	outline: none;
	color: #d9534f;
	text-decoration: none;
}

.nav-inverse a {
	color: #F2F2F2;
}

li.header-list {
	float: left;
	overflow: hidden;
	margin-right: 20px;
}

ul.header-ul-list {
	font-family: inherit;
	font-size: 18px;
	padding: 5px 8px;
	margin-top: 12px;
	float: right;
}

ul.header-ul-list  li {
	list-style: none;
}

ul.header-ul-list li a {
	background: transparent;
	border: 2px solid #66aecc;
	border-radius: 5px;
	font-size: 16px;
	padding: 7px 12px;
	display: inline-block;

	/* CSS Transition */
	-webkit-transition: border .2s ease-in-out, color .2s ease-in-out;
	-moz-transition: border .2s ease-in-out, color .2s ease-in-out;
	-ms-transition: border .2s ease-in-out, color .2s ease-in-out;
	-o-transition: border .2s ease-in-out, color .2s ease-in-out;
	transition: border .2s ease-in-out, color .2s ease-in-out;
}

.nav-inverse ul.header-ul-list li a {
	border-color: white;
}

ul.header-ul-list li a:hover, ul.header-ul-list li a:active, ul.header-ul-list li a:focus {
	color: white;
	border-color: #66aecc;
	background-color: #66aecc;
	outline: none;
}

.nav-inverse ul.header-ul-list li a:hover, .nav-inverse ul.header-ul-list li a:active, .nav-inverse ul.header-ul-list li a:focus {
	border-color: white;
	background-color: #009898;
	outline: none;
}
/* responsive code */
@media (max-width: 767px) {
	ul.header-ul-list {
		float: left;
		width: 100%;
		margin-top: 0;
	}

	ul.header-ul-list li {
		float: left;
		margin-top: 20px;
		margin-right: 10px;
		max-width: 150px;
	}
}

@media (max-width: 480px) {
	.nav ul.header-ul-list li a {
		border-radius: 50%;
		width: 50px;
		height: 50px;
	}

	.nav li .fa-home {
		font-size: 30px;
		margin-left: -2px;
		margin-top: 1px;
	}

	.nav li .fa-users {
		font-size: 22px;
		margin-top: 5px;
		margin-left: -1px;
	}

	.nav li .fa-briefcase {
		font-size: 26px;
		margin-top: 5px;
		margin-left: -2px;
	}

	.nav li .fa-info {
		font-size: 26px;
		margin-top: 4px;
		margin-left: 1px;
	}
}

/* header section related styling */
.banner {
	height: 580px;
	min-height: 510px;
}

.home-banner {
	background-image:url("../img/assets/car-on-map.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.slim-banner {
	min-height: 300px;
	padding: 20px;
}

.invite-container {
	margin-top: 30px;
	font-size: 20px;
}

.logo {
	float: left;
}

.logo img {
	height: 60px;
}

.banner-content-full-width {
	float: left;
	width: 100%;
}

.banner-content {
	width: 100%;
	min-height: 120px;
	padding: 20px 10px;
	color: white;
}

.banner-content h3 {
	font-family: "Open Sans",Arial,sans-serif;
	font-size: 32px;
	font-weight: bold;
	position: relative;
}

.banner-content h1 {
	font-family: "Open Sans",Arial,sans-serif;
	position: relative;
}

.home-banner .banner-content h1 {
	font-family: "Open Sans",Arial,sans-serif;
}

/* responsive code */
@media (max-width: 767px) {
	.banner-content-full-width {
		top: 185px;
	}
	.banner {
		height: 650px;
	}
}

@media (max-width: 480px) {
	.banner-content h3 {
		font-size: 24px;
	}
}
/*products section*/
ul.horizontal {
	float: left;
	padding-left: 0;
}

.horizontal li {
	list-style: none;
}

.step-container {
	padding: 20px;
	margin: auto;
	background: rgba(255, 255, 255, 0.4);
	font-size: 18px;
	line-height: 1.3em;
	border-radius: 3px;
	box-shadow: 2px 1px 2px 1px rgb(128, 128, 128);
	font-weight: normal;
	height: 240px;
	width: 240px;
}

.step-container .fa {
	color: #d9534f;
}

section.products {
	height:580px;
	position: relative;
	background-image:url("../img/assets/mid-section.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.products h2 {
	font-family: "Open Sans",Arial,sans-serif;
	position: relative;
	margin-bottom: 30px;
}

.step-container h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 26px;
}

.icon-container {
	height: 75px;
}

.arrow {
	height:40px;
	background-image: url("../img/assets/arrow.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.arrow-flip {
	height:40px;
	background-image: url("../img/assets/arrow-flip-slim.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

/* responsive code */
@media (max-width: 992px) {
	.step-container {
		width: auto;
		height: auto;
		padding: 10px 50px;
	}

	.step-connector {
		margin: 15px 0;
	}

	.icon-container {
		height: auto;
	}

	.icon-group-organize {
		margin-bottom: 10px;
	}

	section.products {
		height: auto;
	}
}
@media (max-width: 480px) {
	.step-container {
		padding: 10px 20px;
	}
}
/*Notify me section*/

.invite-form-container {
	margin: 40px auto;
	width: 480px;
}

.form-invite, .form-contact {
	margin-bottom: 10px;
}

.form-invite .privacy-input {
	width: 18px;
	height: 18px;
	margin-top: 0;
}

.form-invite .email, .form-contact .email, .form-unsubscribe .email{
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	display: block;
	height: 50px;
	padding: 8px 20px;
	line-height: 1.42857;
	font-size: 18px;
	margin-right: 6px;
}

.form-invite .btn, .form-contact .btn {
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: top;
	padding: 12px 24px;
	font-size: 18px;
	line-height: 1.34;
	border-radius: 3px;
}

.form-invite .help-block {
	font-size: 14px;
	font-weight: bold;
}

.form-contact .help-block {
	font-size: 18px;
	font-weight: bold;
}

.form-response-error {
	color: #d9534f;
	font-size: 18px;
}

.form-response-success {
	color: #178c3f;
	font-size: 18px;
}

.form-invite .help-block.form-response span, .form-contact .help-block.form-response span {
	border-bottom: solid 1px;
}

.keep-me-posted {
	min-height: 420px;
	position: relative;
}

button {
	margin-top: 25px;
}

.footer-list {
	bottom: 20px;
	right: 0px;
	width: 100%;
}

.email-error {
	position: absolute;
}

/* responsive code */
@media (max-width: 767px) {
	.invite-form-container {
		width: 100%;
	}
}

/*career section*/

.jobs-banner {
	background-color: #66aecc;
	background-image: url('../img/assets/three_meerkats.jpg');
	background-size: cover;
	background-position: center;
	text-align: left;
}

.jobs-banner a:hover {
	outline: none;
	text-decoration: none;
}

.btn-ghost {
	background: transparent;
	color: #F2F2F2;
	border: 2px solid #F2F2F2;
	border-radius: 5px;
	font-size: 20px;
	padding: 7px 12px;
	display: inline-block;
}

.btn-ghost:hover, .btn-ghost:active {
	color: #33AECC;
	background-color: #F2F2F2;
	outline: none;
}

.jobs-content {
	padding-top: 45px;
	min-height: 240px;
	background-color: #eee;
}

p.fa-container-sm {
	margin: 0;
	font-size: 18px;
	text-align: center;
}

.panel-group .panel {
	border: 2px solid #333;
}

.panel .panel-body {
	padding: 20px;
}

.panel .panel-body p {
	margin-left: 25px;
}

.panel-group .panel-default > .panel-heading, .panel-default .panel-footer {
	background-color: transparent;
}

.panel-title {
	text-align: center;
	font-weight: bold;
}

/* About us section */
.slogan {
	background: #33aecc;
	color: #E0E0E0;
	padding: 30px 0 40px 0;
	line-height: 1.3em;
}

.slogan h1 {
	font-size: 28px;
}

.slogan .highlight {
	color: white;
	font-weight: bold;
}

section.mission-statement, section.team, section.company-value {
	padding: 40px 0 60px 0;
	font-size: 16px;
}

section.mission-statement .container, section.team .container {
	position: relative;
}

section .scroll-down-arrow {
	position: relative;
	margin: 40px auto -20px;
	border-radius: 50%;
	height: 66px;
	width: 66px;
	border: 1.5px solid rgb(51, 51, 51);
	text-align: center;

	/* CSS Transition */
	-webkit-transition: background-color .2s ease-in-out;
	-moz-transition: background-color .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}

section .scroll-down-arrow:hover {
	background-color: white;
}

section .scroll-down-arrow img {
	position: relative;
	width: 56px;
	top: 8px;
}

section.mission-statement {
	background-color: #E0E0E0;
}

.mission-statement h1, section.team h1 {
	font-size: 28px;
	font-weight: bold;
}

.mission-statement ul li {
	line-height: 2em;
}

.team .team-member {
	padding: 0 30px;
}

.canada img {
	margin-right: 1em;
}
.avatar {
	border-radius: 50%;
	border: solid 5px white;
	overflow: hidden;
	width: 190px;
	height: 190px;
	margin: 20px auto 20px auto;
}

.team-member-title {
	color: #acacac;
	margin-bottom: 15px;
}

@media (max-width: 480px) {
	.btn-join-us {
		float: none;
	}

	section .scroll-down-arrow {
		height: 50px;
		width: 50px;
		top: 10px;
		right: 20px;
	}

	section .scroll-down-arrow img {
		width: 48px;
		top: 4px;
	}
}
/*contact us section */
.contact-banner {
	background-color: #66aecc;
	background-image: url('../img/assets/letter-box.jpg');
	background-size: cover;
	background-position: center;
	text-align: left;
}

.full-size {
	width: 100%;
}

button.btn-contact {
	background-image:url('../img/button_logo_color.jpg');
	background-repeat:repeat-x;
	color: white;
}

button.wechat-qr-code {
	background-image:url('../img/3rdParty/wechat.png');
	background-repeat:no-repeat;
}

ul.no-indent {
	list-style:none;
	padding-left: 0;
}

div.main-box {
	margin-bottom: 10px;
}

img.qr-code {
	height: 172px;
	width: 172px;
	border: 0;
}

img.logo-3rd-party {
	height: 20px;
	width: 20px;
}

font.contact-send-button {
	size: 8;
}

#wechat-qr-code-modal {
	top:5%;
	right:0%;
}

/*unsubscribe section*/
.unsubscribe .banner-content {
	color: #333;
}
