<section class="slim-banner jobs-banner">
	<div class="container banner-content">
		<h1 class="lg-header">Join Us</h1>
		<h2 class="opaque-white margin-bottom-20">Help us build the dream travel ecosystem</h2>
		<a href="#aboutus?scrollTo=team" class="btn-ghost margin-top-10">Meet the team</a>
	</div>
</section>
<section class="jobs-content">
	<div class="container" ng-controller="careerAccordionCtrl">
		<h2 class="margin-bottom-20">Open Positions</h2>
		<accordion close-others="oneAtATime" class="col-xs-12 col-sm-8 col-sm-offset-2 margin-top-15 padding-top-15">
			<accordion-group template-url="group-template.html" heading="Senior Software Engineer(Full stack) - E#0001">
				<div id="more_E0001" class="text_left">
					<h4>Job responsibility</h4>
					<p>This person is joining our team as a technical partner. Their day-to-day work includes:</p>
					<ul class="square">
						<li>Working with Co-founder, Technology & Product to setup the full stack of our software;</li>
						<li>Working as a senior Software Engineer to implement our SOA-based web apps;</li>
						<li>Working with Co-founder, Technology & Product to build a development team;</li>
						<li>Acting as technical lead of the development team;</li>
						<li>Participating in the agile development process.</li>
					</ul>
					<h4>Qualifications</h4>
					<p>As a senior software engineer in the team, the skill and knowledge set we are looking for:</p>
					<ul>
						<li>3+ years web development experience;</li>
						<li>Intimate and working understanding of modern web applications from database to browser;</li>
						<li>Strong SOA and MVC experience;</li>
						<li>Experience with Cloud application development;</li>
						<li>Experience with https and network security;</li>
						<li>Keen on development best practice;</li>
						<li>Proficient in Java, preferably in the Spring and Hibernate framework;</li>
						<li>Strong experience with front-end development frameworks, preferably Angular JS or React;</li>
						<li>Experience with Node.js a plus.</li>
					</ul>
					<p>The ideal candidate is a:</p>
					<ul>
						<li>Person with strong passion in startup and team building experience;</li>
						<li>Person that aligns with our company values;</li>
						<li>Person that enjoys a fun environment, but values efficient & good flow;</li>
						<li>Person that values code review and is positive to provide and accept feedback from code review process;</li>
						<li>Person that is a knowledge giver, and also is eager to learn;</li>
						<li>Creative and curious problem solver that loves challenging development projects.</li>
					</ul>
					<p>The bonus points include:</p>
					<ul>
						<li>Experience with Continuous Integration;</li>
						<li>An open source contributor;</li>
						<li>Spark experience;</li>
						<li>Independently developed a production-grade web application of any size.</li>
					</ul>
					<h4>We offer</h4>
					<p>As an early-stage partner, you will:</p>
					<ul>
						<li>Have the opportunity to participate in the process of building a team from scratch;</li>
						<li>Have the opportunities to use the latest technologies to develop;</li>
						<li>have a significant share of our company that is diving into a multi-billion dollars market, and we are the first in the industry to tap into this niche;</li>
						<li>have the opportunity to develop into a role that incorporates greater responsibilities in the team;</li>
						<li>Learn all the courses we learn in creating the company including business side, as long as you are interest in(knowledge sharing is one of our company values!);</li>
						<li>experience the startup fun & excitement!</li>
					</ul>
					<h4>How to apply:</h4>
					<p>Please send your resume to <b>haoyang.liang@wewherego.com</b> ! Put <b>E#0001</b> in the email title.</p>
				</div>
			</accordion-group>
			<accordion-group template-url="group-template.html" heading="Software Engineer(Full stack) - E#0002">
				<div id="more_E0001" class="text_left">
					<h4>Job responsibility</h4>
					<p>This person is joining our team as a technical partner. Their day-to-day work includes:</p>
					<ul class="square">
						<li>Working with Co-founder, Technology & Product to setup the full stack of our software;</li>
						<li>Implementing our SOA-based web apps;</li>
						<li>Helping in the building of development team;</li>
						<li>Participating in the agile development process.</li>
					</ul>
					<h4>Qualifications</h4>
					<p>As a Software Engineer in the team, the skill and knowledge set we are looking for:</p>
					<ul>
						<li>Intimate and working understanding of modern web applications from database to browser;</li>
						<li>Understanding of SOA and MVC;</li>
						<li>Understanding of Cloud applications;</li>
						<li>Experience with https and network security;</li>
						<li>Keen on development best practice;</li>
						<li>Proficient in Java, preferably in the Spring and Hibernate framework;</li>
						<li>Experience with front-end development frameworks, preferably Angular JS or React;</li>
						<li>Experience with Node.js a plus.</li>
					</ul>
					<p>The ideal candidate is a:</p>
					<ul>
						<li>Person with strong passion in startup and team building experience;</li>
						<li>Person that aligns with our company values;</li>
						<li>Person that enjoys a fun environment, but values efficient & good flow;</li>
						<li>Person that values code review and is positive to provide and accept feedback from code review process;</li>
						<li>Creative and curious problem solver that loves challenging development projects.</li>
					</ul>
					<p>The bonus points include:</p>
					<ul>
						<li>Experience with Continuous Integration;</li>
						<li>An open source contributor;</li>
						<li>Spark experience;</li>
						<li>Independently developed a production-grade web application of any size.</li>
					</ul>
					<h4>We offer</h4>
					<p>As an early-stage partner, you will:</p>
					<ul>
						<li>Have the opportunity to participate in the process of building a team from scratch;</li>
						<li>Have the opportunities to use the latest technologies to develop;</li>
						<li>have a significant share of our company that is diving into a multi-billion dollars market, and we are the first in the industry to tap into this niche;</li>
						<li>have the opportunity to develop into a role that incorporates greater responsibilities in the team;</li>
						<li>Learn all the courses we learn in creating the company including business side, as long as you are interest in(knowledge sharing is one of our company values!);</li>
						<li>experience the startup fun & excitement!</li>
					</ul>
					<h4>How to apply:</h4>
					<p>Please send your resume to <b>haoyang.liang@wewherego.com</b> ! Put <b>E#0002</b> in the email title.</p>
				</div>
			</accordion-group>
			<accordion-group template-url="group-template.html" heading="Software Engineer - Intern(Full stack) - E#0003">
				<div id="more_E0001" class="text_left">
					<h4>Length:</h4>
					<p>4 months+ (We can discuss with you case-by-case.)</p>
					<h4>Job responsibility</h4>
					<p>This person is joining our team as an Intern. Their day-to-day work includes:</p>
					<ul class="square">
						<li>Implementing our SOA-based web apps;</li>
						<li>Helping in the building of development team;</li>
						<li>Participating in the agile development process.</li>
					</ul>
					<h4>Qualifications</h4>
					<p>As a Software Engineer Intern in the team, the skill and knowledge set we are looking for:</p>
					<ul>
						<li>Experience wit OOP;</li>
						<li>Familiar with design patterns;</li>
						<li>Familar with basic programming algorithms;</li>
						<li>Keen on development best practice;</li>
						<li>Experience with Java.</li>
					</ul>
					<p>The ideal candidate is a:</p>
					<ul>
						<li>Person with strong passion in startup and team building experience;</li>
						<li>Person that aligns with our company values;</li>
						<li>Person that enjoys a fun environment, but values efficient & good flow;</li>
						<li>Person that values code review and is positive to provide and accept feedback from code review process;</li>
						<li>Creative and curious problem solver that loves challenging development projects.</li>
					</ul>
					<p>The bonus points include:</p>
					<ul>
						<li>Understanding of modern web applications from database to browser;</li>
						<li>Experience with Continuous Integration;</li>
						<li>Experience with modern front-end frameworks such as Angular JS or React;</li>
						<li>Independently developed a production-grade web application of any size.</li>
					</ul>
					<h4>We offer</h4>
					<p>As an Intern, you will:</p>
					<ul>
						<li>Have the opportunity to participate in the process of building a team from scratch;</li>
						<li>Have the opportunities to use the latest technologies to develop;</li>
						<li>have the opportunity to develop into a role that incorporates greater responsibilities in the team;</li>
						<li>Learn all the courses we learn in creating the company including business side, as long as you are interest in(knowledge sharing is one of our company values!);</li>
						<li>experience the startup fun & excitement!</li>
					</ul>
					<h4>How to apply:</h4>
					<p>Please send your resume to <b>haoyang.liang@wewherego.com</b> ! Put <b>E#0003</b> in the email title.</p>
				</div>
			</accordion-group>
			<accordion-group template-url="group-template.html" heading="Marketing Analyst Intern - B#0001">
				<div id="more_E0001" class="text_left">
					<h4>Length:</h4>
					<p>4 months+ (We can discuss with you case-by-case.)</p>
					<h4>We provide opportunities for you to:</h4>
					<ul>
						<li>Gauge interest in digital marketing, and develop your marketing/communication skills;</li>
						<li>Experience a dynamic startup culture;</li>
						<li>Try various fields inside the business and marketing domain;</li>
						<li>Further develop your career within the company.</li>
					</ul>
					<h4>Your responsibilities include:</h4>
					<ul class="square">
						<li>Assist with email, social, and offline marketing campaigns;</li>
						<li>Assist with posting and tracking content to digital media and social media networks;</li>
						<li>Identify and engage with online influencers;</li>
						<li>Assist with content generation including newsletters, media releases, posts, emails, and blog articles.</li>
					</ul>
					<h4>You will be a good fit if you:</h4>
					<ul>
						<li>Have experience in marketing;</li>
						<li>Are a committed, curious and organized individual;</li>
						<li>Are passionate about travel;</li>
						<li>Have strong awareness of and social media.</li>
					</ul>
					<p>The following are the strong plus:</p>
					<ul>
						<li>A regular blogger or content generator is a strong plus;</li>
						<li>Experience in AdWords, Google analytics, SEO and SEM is a strong plus.</li>
					</ul>
					<p>Last but not least, you should also endorse our <a href="#/aboutus#culture">Company Values</a>.</p>
					<h4>How to apply:</h4>
					<p>Please send your resume to <b>haoyang.liang@wewherego.com</b> ! Put <b>B#0001</b> in the email title.</p>
				</div>
			</accordion-group>
		</accordion>
		<script type="text/ng-template" id="group-template.html">
			<div class="panel {{panelClass || 'panel-default'}} text-left">
				<div class="panel-heading">
					<h4 class="panel-title">
						<div tabindex="0" class="accordion-toggle paragraph-header clickable" ng-click="toggleOpen()" accordion-transclude="heading">
							{{heading}}
							<i class="pull-right fa orange-text hidden-xs" ng-class="{'fa-minus': isOpen, 'fa-plus': !isOpen}"></i>
						</div>
					</h4>
				</div>
				<div class="panel-collapse collapse" collapse="!isOpen">
					<div class="panel-body" style="text-align: right" ng-transclude></div>
				</div>
				<div class="panel-collapse panel-footer" collapse="!isOpen">
						<p class="accordion-toggle fa-container-sm clickable" ng-click="toggleOpen()">
							<i class="fa fa-chevron-up orange-text"></i>
						</p>
				</div>
			</div>
		</script>
	</div>
</section>
