<section class="slim-banner jobs-banner">
	<div class="container banner-content">
		<h1 class="lg-header">Join Us</h1>
		<h2 class="opaque-white margin-bottom-20">Help us build the dream travel platform</h2>
		<a href="#aboutus" class="btn-ghost margin-top-10">Meet the team <i class="fa fa-angle-double-right orange-text"></i></a>
	</div>
</section>
<section class="jobs-content">
	<div class="container" ng-controller="careerAccordionCtrl">
		<!-- <iframe src="js/pdfjs-1.1.114-dist/web/viewer.html?file=E0001.pdf" style="width:100%; height:1000px;" frameborder="0"></iframe> -->
		<h2 class="margin-bottom-20">Open Positions</h2>
		<accordion close-others="oneAtATime" class="col-xs-12 col-sm-8 col-sm-offset-2 margin-top-15 padding-top-15">
			<accordion-group template-url="group-template.html" heading="senior software engineer(Full stack) - e#0001">
				<div id="more_E0001" class="text_left">
					<h4>Job responsibility</h4>
					<p>This person is joining our team as a technical partner. Their day-to-day work includes:</p>
					<ul class="square">
						<li>Working with Co-founder, Technology & Product to setup the full stack of our software;</li>
						<li>Working as a senior Software Engineer to implement the early version of our web app;</li>
						<li>Working with Co-founder, Technology & Product to build a development team;</li>
						<li>Acting as technical lead of the development team;</li>
						<li>Participating in the agile development process.</li>
					</ul>
					<h4>Qualifications</h4>
					<p>As a senior software engineer in the team, the skill and knowledge set we are looking for:</p>
					<ul>
						<li>3+ years web development experience;</li>
						<li>intimate and working understanding of modern web applications from database to browser;</li>
						<li>experience with https and network security;</li>
						<li>strong SOA and MVC experience;</li>
						<li>keen on development best practice;</li>
						<li>proficient in Java, preferably in the Spring and Hibernate framework;</li>
						<li>strong experience with front-end development frameworks, preferably Angular JS;</li>
						<li>experience with Node.js or ruby on rail</li>
					</ul>
					<p>The ideal candidate is a:</p>
					<ul>
						<li>person with strong passion in startup and team building experience;</li>
						<li>person that aligns with our company values;</li>
						<li>person that enjoys a fun environment, but values efficient & good flow;</li>
						<li>person that values code review and is positive to provide and accept feedback from code review process;</li>
						<li>person that is a knowledge giver, and also is eager to learn;</li>
						<li>creative and curious problem solver that loves challenging development projects.</li>
					</ul>
					<h4>We offer</h4>
					<p>As an early-stage partner, you will:</p>
					<ul>
						<li>learn everything we have learned so far, as we will keep everything transparent to our partners and are willing to share all courses; (teamwork and honesty are our culture!)</li>
						<li>have the opportunity to participate in the process of building a team from scratch;</li>
						<li>have a significant share of our company that is diving into a multi-billion dollars market, and we are the first in the industry to tap into this niche (no direct competitor at this moment);</li>
						<li>have the opportunity to develop into a role that incorporates greater responsibilities in the team;</li>
						<li>experience the startup fun & excitement!</li>
					</ul>
					<h4>Apply</h4>
					<p>Please send your resume to <b>haoyang.liang@wewherego.com</b> ! Put <b>E#0001</b> in the email title.</p>
				</div>
			</accordion-group>
		</accordion>

		<script type="text/ng-template" id="group-template.html">
			<div class="panel {{panelClass || 'panel-default'}} text-left">
				<div class="panel-heading">
					<h4 class="panel-title">
						<div tabindex="0" class="accordion-toggle paragraph-header clickable" ng-click="toggleOpen()" accordion-transclude="heading">
							{{heading}}
							<i class="pull-right fa orange-text hidden-xs" ng-class="{'fa-minus': isOpen, 'fa-plus': !isOpen}"></i>
						</div>
					</h4>
				</div>
				<div class="panel-collapse collapse" collapse="!isOpen">
					<div class="panel-body" style="text-align: right" ng-transclude></div>
				</div>
				<div class="panel-collapse panel-footer" collapse="!isOpen">
						<p class="accordion-toggle fa-container-sm clickable" ng-click="toggleOpen()">
							<i class="fa fa-chevron-up orange-text"></i>
						</p>
				</div>
			</div>
		</script>
	</div>
</section>
