	<section class="banner home-banner">
		<div class="container">
			<div class="banner-content banner-content-full-width">
				<h1 class="lg-header">You Are There</h1>
				<h3>From inspiration to organization, Wherego gets you on your way</h3>
				<div class="invite-container">
					<p>We are working hard to bring an amazing product to you</p>
					<div class="margin-top-10"><button class="btn btn-danger btn-lg" ng-click="moveToSubscribe()">Keep me posted!</button></div>
				</div>
			</div>
		</div>
	</section>
	<section class="products">
		<div class="container clearfix">
			<h2 class="lg-header">How does Wherego help me?</h2>
			<div class="row arrow-row hidden-xs">
				<div class="col-md-3"></div>
				<div class="col-md-2 arrow"></div>
				<div class="col-md-2"></div>
				<div class="col-md-2 arrow"></div>
				<div class="col-md-3"></div>
			</div>
			<ul class="how-it-works horizontal">
				<li class="clearfix col-xs-12 col-md-4">
					<div class="step-container">
						<div class="icon-container padding-top-10">
							<i class="fa fa-lightbulb-o fa-3x"></i>
						</div>
						<h3>Get Inspired</h3>
						<!--div class="img-container" style="background-image: url('img/assets/product/Eiffel-Tower-Heart.png')"></div-->
						<p class="margin-top-10">Find pictures, videos, journals and other travel inspirations.</p>
					<udiv>
				</li>
				<li class="clearfix col-xs-12 col-md-4">
					<div class="step-container">
						<div class="icon-container padding-top-15">
							<i class="fa fa-money fa-2x fa-fw"></i>
							<i class="fa fa-calendar fa-2x fa-fw"></i>
							<i class="fa fa-users fa-2x fa-fw"></i>
						</div>
						<h3>Get Organized</h3>
						<!--div class="img-container" style="background-image: url('img/assets/product/Eiffel-Tower-Itinerary.png')"></div-->
						<p class="margin-top-10">Set budget, make itinerary and collaborate.</p>
					</div>
				</li>
				<li class="clearfix col-xs-12 col-md-4">
					<div class="step-container">
						<div class="icon-container padding-top-10">
								<i class="fa fa-plane fa-3x"></i>
						</div>
						<h3>Get Going</h3>
						<!--div class="img-container" style="background-image: url('img/assets/product/plane-wing.png')"></div-->
						<p class="margin-top-10">Go on your adventure excited and prepared!</p>
					</div>
				</li>
			</ul>
			<div class="row arrow-row hidden-xs">
				<div class="col-md-2"></div>
				<div class="col-md-8 arrow-flip"></div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</section>
	<section class="keep-me-posted gray-bg">
		<div class="container clearfix">
			<h2 class="lg-header">Keep me posted!</h2>
			<p class="paragraph-header">Receive updates, voice your opinion and get beta invitation by subscribing.</p>
			<div class="invite-form-container">
				<form name="inviteForm" novalidate="novalidate" ng-submit="submitForm(inviteForm.$valid)" class="form-invite ng-pristine ng-valid margin-top-15"
				ng-class="{ 'has-error': inviteForm.email.$invalid && submitted}">
					<div ng-messages="result" ng-if="submitted" class="help-block form-response">
						<span ng-message="success">Your email {{user.email}} has been successfully subscribed!</span>
						<span ng-message="exists">Looks like your email {{user.email}} has already subscribed!</span>
					</div>
					<div class="row margin-top-10">
						<div class="form-group col-sm-12" ng-class="{ 'has-error': inviteForm.email.$invalid && submitted}">
							<input type="email" name="email" placeholder="email@address.com" class="border-white email form-control"
								required
								ng-model="user.email"
								ng-pattern="/^.{1,}@[_a-z0-9A-Z]+(\.[a-z0-9A-Z]+)+$/">
						</div>
					</div>
					<div class="row margin-top-10" ng-show="!result.success && !result.exists">
						<div class="form-group col-xs-1" ng-class="{ 'has-error': inviteForm.privacyCheckbox.$invalid && submitted}">
							<input type="checkbox" name="privacyCheckbox" class="privacy-input" ng-model="user.privacy" required>
						</div>
						<div class="form-group col-xs-11 text_left">
							<span class="privacy-text">
								I agree to receive WhereGo electronic messages. You can unsubscribe at any time.
								Please refer to our <a href="docs/WhereGoUserAgreement_v1.pdf" target="_blank">User Agreement</a> and <a href="docs/WhereGo_Privacy_v1.pdf" target="_blank">Privacy Policy</a> for more details.
							</span>
						</div>
					</div>
					<div class="row margin-top-10" ng-show="!result.success && !result.exists">
						<div class="form-group col-xs-12">
							<button type="submit" class="btn btn-danger btn-lg col-xs-12" ng-disabled="inviteForm.$invalid">Subscribe</button>
						</div>
					</div>
					<div ng-messages="inviteForm.$error" ng-if="submitted" class="help-block">
						<p ng-message="email pattern">Please enter a valid email.</p>
					</div>
				</form>
			</div>
		</div>

		<div ng-controller="metaCrl">
			<br>
			<div class="footer-list"><p id="id_footer" style="text-align:right;margin-right:5%">{{metadata.meta_version}}</p></div>
		</div>
	</section>
